# -*- coding: utf-8 -*-
# vim: ft=jinja
{% import_yaml 'etcd/defaults.yaml' as defaults %}

# start with defaults, merge pillar data
{% set etcd = salt['grains.filter_by'](
    defaults,
    merge=salt['pillar.get']('etcd', {}),
    base='etcd'
) %}

# coreos release package
{% set pkg = "{0}-v{1}-{2}-{3}".format(etcd.pkg or 'etcd', etcd.version, etcd.os, etcd.arch) %} 
{% do etcd.dl.update(
       { 'src_url': "{0}/v{1}/{2}.{3}".format(etcd.dl.base_uri, etcd.version, pkg, etcd.dl.format),
         'archive_name': pkg + '.' + etcd.dl.format, }) %}
{% do etcd.update({ 'realhome': "{0}/{1}".format(etcd.prefix, pkg), 'pkg': pkg, }) %}

{# Add service Defaults #}
{%- set current_id = grains['id'].split('.') | first %}
{%- set cluster = [] -%}
{%- set current_peer = {} -%}

{% for name, peer in etcd.service.cluster.items() | sort %}
    {% set merged_peer = salt['pillar.get']('etcd:service:cluster:' ~ name, etcd.defaults.peer, merge=True) %}
    {% set url = 'https://' + merged_peer.host if merged_peer.ssl else 'http://' + merged_peer.host %}
    {% do merged_peer.update({
        'name': merged_peer.get('name', name),
        'client_url': merged_peer.get('client_url', url + ':' + merged_peer.client_port | string),
        'peer_url': merged_peer.get('peer_url', url + ':' + merged_peer.service_port | string)
    }) %}
    {% if name == current_id %}
        {% do current_peer.update(merged_peer) %}
    {% endif %}
    {% do cluster.append(merged_peer) %}

{% endfor %}

{% do etcd.service.update(members=cluster) %}
{% do etcd.service.update(current=current_peer) %}

{%- if current_peer != None -%}
    {%- do etcd.service.update({'name': current_peer.get('name',  current_id)}) -%}
    {%- do etcd.service.update({'initial_cluster_state': current_peer.initial_cluster_state }) -%}
    {%- if etcd.service.config.get("listen_client_urls") == None -%}
        {%- do etcd.service.config.update({'listen_client_urls': current_peer.client_url }) -%}
    {%- endif -%}
    {%- if etcd.service.config.get("advertise_client_urls") == None -%}
        {%- do etcd.service.config.update({'advertise_client_urls': current_peer.client_url }) -%}
    {%- endif -%}
    {%- if etcd.service.config.get("listen_peer_urls") == None -%}
        {%- do etcd.service.config.update({'listen_peer_urls': current_peer.peer_url }) -%}
    {%- endif -%}
    {%- if etcd.service.config.get("initial_advertise_peer_urls") == None -%}
        {%- do etcd.service.config.update({'initial_advertise_peer_urls': current_peer.peer_url }) -%}
    {%- endif -%}

    {%- if etcd.service.config.get("initial_cluster") == None -%}
        {%- set initial_cluster = [] -%}
        {%- set endpoints = [] -%}
        {% for member in cluster %}
            {% if member.get('host') != None %}
                {% do initial_cluster.append(member.name + "=" + member.peer_url) %}
                {% do endpoints.append(member.client_url) %}
            {% endif %}
        {% endfor %}
        {% do etcd.service.config.update({'initial_cluster': initial_cluster | join(',')}) %}
        {% do etcd.service.update({'endpoints': endpoints}) %}

        {%- if etcd.etcdctl.get("endpoints") == None -%}
            {% do etcd.etcdctl.update({'endpoints': endpoints | join(',')}) %}
        {%- endif -%}
    {%- endif -%}
{%- endif -%}