# ``etcd`` formula configuration:

## Minimal optional configuration
etcd:
  version: 3.2.18

## More optional pillars follow ... (see defaults.yaml)
  src_hashsum:
  src_hashurl:
  #use_upstream_repo: 'homebrew' #not mandatory for MacOS

  service:
    name: etcd0
    data_dir: /var/lib/etcd/etcd0
    #etcd_endpoints: 'https://etcd01:2379,https://etcd02:2379,https://etcd03:2379'
    initial_cluster: 'etcd0=https://0.0.0.0:2380'
    initial_cluster_state: new
    initial_cluster_token: etcd-cluster-1
    initial_advertise_peer_urls: 'https://0.0.0.0:2380'
    listen_peer_urls: 'https://0.0.0.0:2380'
    listen_client_urls: 'https://0.0.0.0:2379'
    advertise_client_urls: 'https://0.0.0.0:2379'

    ##Security https://coreos.com/etcd/docs/latest/op-guide/security.html
    cert_file: /etc/ssl/etcd/ca.pem
    key_file: /etc/ssl/etcd/client.pem
    ca_file: /etc/ssl/etcd/client-key.pem
    auto_tls: '"false"'
    peer_auto_tls: '"false"'

  etcdctl:
    api: 2
    #discovery_srv: example.com
    peers: 'https://0.0.0.0:2379'
    endpoint: 'https://0.0.0.0:2379'
    cert_file:
    key_file:
    ca_file:
    username:
    data_dir:
    backup_dir:

  #linux:
    #alternatives disabled by default. Set 'altprioriy' value to enable.
    #altpriority: {{ range(1, 90000) | random }}

  #dl:
    #base_uri: 'https://github.com/myfork/etcd/releases/download'

  docker:
    enabled: True
    # If docker_enabled=True, defaults can be overridden here
    image: quay.io/coreos/etcd
    version: latest
    ports:
      - '127.0.0.1:2379:2379'
      - '127.0.0.1:2380:2380'
      - '127.0.0.1:4001:4001'
    volumes:
      - /usr/share/ca-certificates/:/etc/ssl/certs
    stop_local_etcd_service_first: False
    
