ETCD_NAME='{{ etcd.service.name }}'
ETCD_DATA_DIR='{{ etcd.datadir }}'
ETCD_INITIAL_CLUSTER_STATE= '{{ etcd.service.initial_cluster_state }}'
{% for key,value in etcd.service.config.items() -%}
ETCD_{{ key|string|upper }}='{{ value or "" }}'
{% endfor -%}