ETCD_NAME='{{ etcd.service.current.get('name', grains['id'].split('.') | first) }}'
ETCD_DATA_DIR='{{ etcd.datadir }}'
ETCD_INITIAL_CLUSTER_STATE= '{{ initial_cluster_state }}'
{% for key,value in etcd.service.config.items() -%}
ETCD_{{ key|string|upper }}='{{ value or "" }}'
{% endfor -%}