[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd
After={{ etcd.service.after }}

[Service]
User=root
Type=notify
EnvironmentFile=/etc/default/etcd
ExecStart={{ etcd.realhome }}/etcd
Restart=always
RestartSec={{ etcd.service.restart_sec }}
TimeoutStartSec={{ etcd.service.timeout_start_sec }}
StartLimitInterval={{ etcd.service.start_limit_interval }}
LimitNOFILE={{ etcd.service.limit_nofile }}
WorkingDirectory={{ etcd.datadir }}

[Install]
WantedBy=multi-user.target

